In [1]:
import pandas as pd
import os

In [2]:
file_path = "/USERS/user/downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(file_path, encoding='latin1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
# Group by 'Area' and calculate the sum of 'Y2017'
grouped = df.groupby('Area')['Y2017'].sum().reset_index()

# Sort the DataFrame by the sums in ascending order
sorted_df = grouped.sort_values(by='Y2017')

# Retrieve the 'Area' with the 7th lowest sum
seventh_lowest_area = sorted_df.iloc[6]['Area']

# Display the result
print("The Area with the 7th lowest sum in 2017 is:", seventh_lowest_area)

The Area with the 7th lowest sum in 2017 is: Guinea-Bissau

In [4]:
# Calculate the mean and standard deviation for the year 2017
mean_2017 = round(df['Y2017'].mean(), 2)
std_dev_2017 = round(df['Y2017'].std(), 2)

# Display the results
print("Mean for 2017:", mean_2017)
print("Standard Deviation for 2017:", std_dev_2017)

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

In [5]:
# Find the 'Area' with the highest sum in 2017
highest_sum_area = grouped.loc[grouped['Y2017'].idxmax()]['Area']

# Display the result
print("The Area with the highest sum in 2017 is:", highest_sum_area)

The Area with the highest sum in 2017 is: Nigeria

In [6]:
# Group by 'Item' and calculate the sum of 'Y2015' and 'Y2018'
wine_production = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()

# Extract the sum for 2015 and 2018
wine_2015_total = wine_production['Y2015'].values[0]
wine_2018_total = wine_production['Y2018'].values[0]

# Display the results
print("Total Wine produced in 2015:", wine_2015_total)
print("Total Wine produced in 2018:", wine_2018_total)

Total Wine produced in 2015: 4251.81
Total Wine produced in 2018: 4039.32

In [7]:
# Group by 'Element' and calculate the sum of 'Y2017'
element_totals = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum().reset_index()

# Extract the sum for 2017
processing_2017_total = element_totals['Y2017'].values[0]

# Display the result
print("Total sum of Processing in 2017:", processing_2017_total)

Total sum of Processing in 2017: 292836.0

In [8]:
# Calculate the total number of missing values in 'Y2014'
missing_values_2014 = df['Y2014'].isnull().sum()

# Calculate the total number of values in 'Y2014'
total_values_2014 = len(df['Y2014'])

# Calculate the percentage of missing values in 'Y2014'
percentage_missing_2014 = (missing_values_2014 / total_values_2014) * 100

# Display the results
print("Total number of missing data in 2014:", missing_values_2014)
print("Percentage of missing data in 2014 to 3 decimal places:", round(percentage_missing_2014, 3), "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014 to 3 decimal places: 2.607 %

In [9]:
# Group by 'Element' and calculate the sum of 'Stock Variation'
element_totals = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum for 'Stock Variation'
highest_stock_variation_year = element_totals.idxmax(axis=1).values[0]

# Display the result
print("The year with the highest sum of Stock Variation is:", highest_stock_variation_year)

The year with the highest sum of Stock Variation is: Y2014

In [10]:
# Calculate the total Protein supply quantity in Madagascar in 2015
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

# Display the result with 3 digits
print("Total Protein supply quantity in Madagascar in 2015 (3 digits): {:.3f}".format(madagascar_protein_2015))

Total Protein supply quantity in Madagascar in 2015 (3 digits): 173.050

In [11]:
# Determine the total number of unique countries in the dataset
unique_countries_count = df['Area'].nunique()

# Display the results
print("Total number of unique countries in the dataset:", unique_countries_count)

Total number of unique countries in the dataset: 49

In [12]:
# Define the years to consider
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

# Calculate the correlation between 'Element Code' and each year
correlations = {}
for year in years:
    correlation = df['Element Code'].corr(df[year])
    correlations[year] = correlation

# Find the year with the least correlation
least_correlated_year = min(correlations, key=correlations.get)

# Display the year with the least correlation
print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016